

body{

}

header{
  background-color: cornsilk;
}

header .inner{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

header a{
  text-decoration: none;
  color: darkcyan;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.menu{
  background-color: gainsboro;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.menu a{
  text-decoration: none;
  color: black;
} 

.menu span{
  display: inline-flex;
  width: 60px;
  padding: 20px;
  color: black; 
}

.body {
  margin: 50px 350px;
  text-align: justify;
  line-height: 1.8;
}