@import url("./box.css");

/* COMMON */
body {

}

a {
  text-decoration: none;
  color: #333;
}

.inner{
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  background-color: #faf9f9f0;
  border-bottom: 0.3px solid #e7e7e3;
}

header>.inner {
  width: 1300px;
  height: 125px;
  text-align: center;
}

header span {
  font-family: 'TmonMonsori';
  color: #0058a8;
  font-size: 40px;
  font-weight: bold;
  height: 79px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .inner .sub-menu {
  display: flex;
  position: absolute;
  right: 5px;
  top: 3px;
}

header .inner .sub-menu ul {
  display: flex;
}

header .inner .sub-menu ul li a {
  font-size: 12px;
  padding: 10px 15px;
  display: block;
}

header .inner .sub-menu ul li a:hover{
  color:#0058a8;
}

header .inner .sub-menu ul li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner .sub-menu ul li:first-child:before {
  display: none;
}

header .inner .sub-menu .search {
  height: 34px;
  position: relative;
}

header .inner .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width .4s;
}

header .inner .sub-menu .search input:focus {
  width: 200px;
}

header .inner .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}


.main-menu{
  display: flex;
  position: absolute;
  width: 670px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main-menu .item{
  font-family: 'Pretendard-Medium';
  font-weight: normal;
}

.main-menu .item .item_name{
  padding: 20px 40px 17px 40px;
  font-size: 18px;
}

.main-menu .item:hover .item_name{
  background-color:#f3f2f2;
}

.main-menu .item .item__contents{
  width: 100%;
  display: none;
  position: fixed;
  left: 0;
}

.main-menu .item:hover .item__contents {
  display: block;
}

.main-menu .item .item__contents > ul{
  display: flex;
  padding: 20px 0;
  width: 670px; 
  background-color:#f3f2f2;
  left: 0;
}

.main-menu .item .item__contents > ul > li{
  width: 200px;
}

.main-menu .item .item__contents > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 18px;
  color:#0c0f5c
}

.main-menu .item .item__contents > ul > li ul li {
  padding: 5px 0;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.main-menu .item .item__contents > ul > li ul li:hover{
  color: #51b7f3;
}


/* line-height 에서 px를 넣으면 글꼴의 크기 변화에도 불구하고 행간의 높이는 변함이 없지만,
  정수를 사용하면 이 정수는 글자크기의 배수를 의미하므로 글자 크기에 따라 행간의 높이도 글자 크기에 맞춰서 변화하기 때문에 
  정수를 사용하는 것을 권함.   */
.body {
  font-family: 'Pretendard-Medium';
  font-size: 17px;
  color: #000;
  width: 700px;
  padding: 130px 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 1.8;
}

.body span {
  line-height: 2.7;
}